.root {
//    -fx-base: red;
}

/* ====================================================== */

.dlg-wnd {
    -fx-font-size: 12;
    -fx-font-family: "Segoe UI", Tahoma;
    -fx-background-color: -fx-base;
}

/* ====================================================== */

.tab-pane {
    -fx-border-insets: 0 0 0 0;
    -fx-border-width: 0 0 0 0;
    -fx-border-color: -fx-base;
    -fx-background-color: -fx-base;
    -fx-box-border: -fx-base;
    -fx-background-insets: 0;
}

*.tab-header-area  {
    -fx-padding: 0 0 0 0;
    -fx-border-insets: 0 0 0 0;
    /* -fx-border-color: transparent; */
    -fx-border-style:solid;
    /* -fx-background-color: derive(-fx-base,-30%) 100% !important;
    -fx-border-color: derive(-fx-base,-30%); */
    -fx-border-width: 0 0 0 0;
}

*.tab-header-background {
    -fx-padding: 0;
    -fx-background-color: -fx-base;
    -fx-border-color: transparent;
    -fx-border-width: 0;
    -fx-background-insets: 0 0 0 0;
    -fx-border-insets: 0 0 0 0;
}

.tab {
    -fx-font-size: 12;
    -fx-font-family: "Segoe UI", Tahoma;
    -fx-background-color: -fx-base;
    -fx-border-color: -fx-base;
    -fx-border-width: 0 0 0 0;
    -fx-border-insets: 0 0 3 0;
    -fx-background-radius: 0 0 0 0;
    -fx-padding: 4 20 4 20;
}

.tab:hover {
    -fx-base: rgba(0, 130, 236, 0.1);
}

.tab:hover .tab-label {
    -fx-base: rgba(0, 130, 236, 0.1);
}

.tab:selected, .tab:focused {
    -fx-background-color: -fx-base;
    -fx-box-border: transparent;
    /* -fx-background-color: derive(-fx-base,-5%) 100%; */
    -fx-focus-color: transparent;
    -fx-border-color: #3E6DB6;
    -fx-border-width: 0 0 3 0;
    -fx-border-insets: 0 0 0 0;
    -fx-background-insets: 0 0 0 0;
}

.tab-label {
    -fx-text-fill: #000000 ;
    -fx-border-width: 0;
    -fx-border-insets: 0 0 0 0;
    -fx-background-insets: 0 0 0 0;
}

.tab:selected .tab-label {
    -fx-box-border: transparent;
    -fx-background-color: -fx-base;
    -fx-text-fill: #000000;
    -fx-border-width: 0;
    -fx-border-insets: 0 0 0 0;
    -fx-background-insets: 0 0 0 0;
}

.tab-pane:focused > .tab-header-area > .headers-region > .tab:selected .focus-indicator {
    /* -fx-box-border: transparent; */
    /* -fx-background-color: -fx-base; */
    -fx-border-color: transparent;
}

.dlg-tab-container {
    -fx-border-color: #000000;
    -fx-border-width: 1 0 0 0;
    -fx-padding: 10 0 0 0;
    -fx-border-color: derive(-fx-base,-30%);
}

/* ====================================================== */

.check-box>.box {
 	-fx-background-radius: 0;
}

.check-box .mark {
 	-fx-shape: "M1.73,12.91 8.1,19.28 22.79,4.59 22.79,1.59 8.1,16.28 1.73,9.91";
}